.custom-input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: 0.3s ease;
}

.custom-input:focus {
    border-color: #8dbb31;
    box-shadow: 0 0 0 0.2rem rgba(141, 187, 49, 0.15);
    outline: none;
}

.btn-verde {
    background-color: #8dbb31 !important;
    color: white !important;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
}

.btn-verde:hover {
    background-color: #2d5a27 !important;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.text-verde {
    color: #2d5a27;
}


.login-bg {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('../Poze/landscape.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed; 
}
