.contact-hero {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact-card {
    margin-top: -100px; 
    position: relative;
    z-index: 10;
}


.icon-box {
    background-color: #8dbb31; 
    color: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 24px;
    margin-right: 20px;
    float: left;
}

.info-item {
    overflow: hidden;
}


.custom-input {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.custom-input:focus {
    border-color: #2d5a27;
    box-shadow: none;
}


.btn-contact {
    background-color: #8dbb31 !important; 
    color: white !important; 
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    padding: 15px 30px; 
    transition: all 0.3s ease;
}

.btn-contact:hover {
    background-color: #2d5a27 !important;
    color: white !important;
    transform: translateY(-3px);
}


.contact-iconite a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #1f1f1f;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.3s;
    font-size: 20px;
}

.contact-iconite a:hover {
    background: #2d5a27;
    transform: translateY(-5px);
}